<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <header>
        <h1>Quiz: Vocabulaire Anglais</h1>
    </header>
    <form id="quiz-form">
        <div class="question">
            <p>Quelle est la capitale du Maroc ?</p>
            <input type="radio" id="answer1" name="question1" value="Rabat">
            <label for="answer1">Rabat</label><br>

            <input type="radio" id="answer2" name="question1" value="Casablanca">
            <label for="answer2">Casablanca</label><br>

            <input type="radio" id="answer3" name="question1" value="Marrakech">
            <label for="answer3">Marrakech</label><br>
        </div>

        <!-- Ajouter d'autres questions ici -->

        <button type="submit">Soumettre les réponses</button>
    </form>
</body>
</html>